@media (min-width: 1200px){
  #preface-area .container { max-width: 940px; }
}

#block-views-vista-de-civil-block-2, #block-views-vista-de-civil-block { display: none; }
#block-block-1 h2, #block-block-2 h2, #block-block-3 h2 { cursor: pointer; }

.view-id-vista_de_civil .view-content .views-row .views-field-field-image {
  width: 90%;
  margin: 0 auto;
}

.view-id-vista_de_civil .view-content .views-row .views-field-nothing { margin-bottom: 20px; }

#content-wrap table#go_sigo { border: none; }
#go_sigo tbody tr td { 
  border: none;
  padding: 0;
}

#go_sigo tbody tr td:first-child + td {
  float: right;
  margin-bottom: 110px;
}

.page-node #content-wrap #go_sigo tbody tr td img, .page-node #content-wrap #go_sigo tbody tr td p a img { border: none }
#footer-sitemap .fs-block-content .main-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#footer-sitemap .fs-block-content .main-menu ul li ul li a { font-weight: normal; }

#footer-sitemap .fs-block-content .main-menu ul li { margin-right: 40px; }
#footer-sitemap .fs-block-content .main-menu ul li.last { margin-right: 0; }

#block-block-4 p { 
  color: #fff;
  margin-bottom: 0;
}

#page #preface-area { padding: 0; }
#preface-area .container .row .preface-block {
  padding: 0;
  border-left: 1px solid #c9e07d;
  border-right: 1px solid #6ead2e;
  background: #a2ca5a;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #a2ca5a 0%, #9fc858 28%, #8abc49 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2ca5a), color-stop(28%,#9fc858), color-stop(100%,#8abc49));
  background: -webkit-linear-gradient(top, #a2ca5a 0%,#9fc858 28%,#8abc49 100%);
  background: -o-linear-gradient(top, #a2ca5a 0%,#9fc858 28%,#8abc49 100%);
  background: -ms-linear-gradient(top, #a2ca5a 0%,#9fc858 28%,#8abc49 100%);
}

#preface-area .container .row .preface-block .region:hover{
  background: #8aac4e;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #8aac4e 0%, #84a74b 38%, #709640 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8aac4e), color-stop(38%,#84a74b), color-stop(100%,#709640));
  background: -webkit-linear-gradient(top, #8aac4e 0%,#84a74b 38%,#709640 100%);
  background: -o-linear-gradient(top, #8aac4e 0%,#84a74b 38%,#709640 100%);
  background: -ms-linear-gradient(top, #8aac4e 0%,#84a74b 38%,#709640 100%);
  background: linear-gradient(to bottom, #8aac4e 0%,#84a74b 38%,#709640 100%);
}

#block-block-1, #block-block-2, #block-block-3 { 
  margin-bottom: 0;
  height: 192px;
}