@media (min-width: 1200px){
  #preface-area .container { max-width: 940px; }
}

/* Título redundante de Vision y Mision */
body.page-node-11 #content-wrap h1.page-title { display: none; } 

#block-views-vista-de-civil-block-2, #block-views-vista-de-civil-block { display: none; }
#block-block-1, #block-block-2, #block-block-3 { cursor: pointer; }
/*
.view-id-vista_de_civil .view-content .views-row .views-field-field-image {
  width: 90%;
  margin: 0 auto;
}*/

.view-id-vista_de_civil .view-content .views-row .views-field-nothing { margin-bottom: 20px; }

#content-wrap table#go_sigo { border: none; }
#go_sigo tbody tr td { 
  border: none;
  padding: 0;
}

#go_sigo tbody tr td:first-child + td {
  float: right;
  margin-bottom: 110px;
}

.page-node #content-wrap #go_sigo tbody tr td img, .page-node #content-wrap #go_sigo tbody tr td p a img { border: none }
#footer-sitemap .fs-block-content .main-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#footer-sitemap .fs-block-content .main-menu ul li ul li a { font-weight: normal; }

#footer-sitemap .fs-block-content .main-menu ul li { margin-right: 40px; }
#footer-sitemap .fs-block-content .main-menu ul li.last { margin-right: 0; }

#block-block-4 p { 
  color: #fff;
  margin-bottom: 0;
}

#page #preface-area { padding: 0; }
#preface-area .container .row .preface-block {
  padding: 0;
  border-left: 1px solid #0A6606;
  border-right: 1px solid #045800;
  background: #30912C;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #30912C 0%, #3CA238 28%, #3C9C38 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30912C), color-stop(28%,#3CA238), color-stop(100%,#3C9C38));
  background: -webkit-linear-gradient(top, #30912C 0%,#3CA238 28%,#3C9C38 100%);
  background: -o-linear-gradient(top, #30912C 0%,#3CA238 28%,#3C9C38 100%);
  background: -ms-linear-gradient(top, #30912C 0%,#3CA238 28%,#3C9C38 100%);
}

#preface-area .container .row .preface-block .region:hover{
  background: #8aac4e;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #8aac4e 0%, #84a74b 38%, #709640 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8aac4e), color-stop(38%,#84a74b), color-stop(100%,#709640));
  background: -webkit-linear-gradient(top, #8aac4e 0%,#84a74b 38%,#709640 100%);
  background: -o-linear-gradient(top, #8aac4e 0%,#84a74b 38%,#709640 100%);
  background: -ms-linear-gradient(top, #8aac4e 0%,#84a74b 38%,#709640 100%);
  background: linear-gradient(to bottom, #8aac4e 0%,#84a74b 38%,#709640 100%);
}

#block-block-1, #block-block-2, #block-block-3 { 
  margin-bottom: 0;
  height: 192px;
}

/* Tabla del Sistema Integrado */

#block-system-main table#summary_about_us tbody tr td.rtecenter { 
  background-color: #d7e293;
  border: 1px solid #b1c65d;
  font-weight: bold;
}

table#summary_about_us tbody tr:first-child + tr td { 
  background-color: #e4dfa7;
  border-right: 1px solid #efc677
}
table#summary_about_us tbody tr:first-child + tr + tr td { 
  background-color: #e7deb3; 
  border-top: 1px solid #eec5a9;
  border-right: 1px solid #eec5a9;
}

table#summary_about_us tbody tr:first-child + tr + tr + tr td { 
  background-color: #e0e9b4;
  border-top: 1px solid #b3b989;
  border-right: 1px solid #b3b989;
}

#block-system-main .content .content .field-name-body .field-items .field-item .our-service {
  float: left;
  width: 50%;
  min-height: 300px;
}

#block-system-main .content .content .field-name-body .field-items .field-item .our-service h2 { text-decoration: underline; }
#block-system-main .content .content .field-name-body .field-items .field-item .our-service ul li {
  background: url(../images/marker2.gif) no-repeat 0 3px;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  padding-left: 30px;
  text-align: justify;
}